.main {
  background: #262D4E;
  margin: 0;
  padding: 5%;
  height: 100%; }
  .main h1, .main h2 {
    color: #FFF;
    font-weight: 200; }
  .main h1 {
    font-size: 5em; }
  .main h2 {
    font-size: 2.5em; }
  .main .btn-large {
    margin-top: 2em;
    font-weight: 400;
    font-size: 2em; }
  .main .lightening-logo {
    display: inline-block;
    width: 12em; }

html, body {
  height: 100%; }
