extends layout

block content

  .main.center.z-depth-2
    img.lightening-logo(src='/img/zap.svg')

    h1= title
    h2=subtitle

    a.waves-effect.waves-light.btn-large.orange.white-text#get-started-btn Get Started

  .getting-started.grey.lighten-2
    .container
      .row
        .col.s12.m10.offset-m1.l8.offset-l2.card-panel.middle
            h3 Enter the URL of your GitHub repo
            .col.s12.input-field
              input#repoUrl.validate(type='url', name='repoUrl', placeholder='e.g. https://github.com/lissy93/shocking-code')
              label(for='repoUrl')
              small.red-text#invalid-url(style='display:none;') Error: Invalid GitHub URL
            .col.s3.offset-s9
              a.submit-repo-btn.waves-effect.waves-light.btn.indigo.darken-4.white-text Go!

block scripts
  script(src='/js/page-actions.js')