extends layout

block content
    .results
        .row
            .col.s12.m3
                h1.center= title
                h2.center=subtitle
                img.lightening-logo(src='/img/zap.svg')
                p= repoId