extends layout

block content
    .results.grey.lighten-2
        .row
            .col.s12.m3.side-title.z-depth-2
                h1.center= title
                h2.center=subtitle
                img.lightening-logo(src='/img/zap.svg')

                .repoStats
                    h3 Repo Stats
                    p.white-text= repoId

                a.waves-ripple.waves-light.white-text.btn.orange(href='/') Back to Home



            .col.s12.m9.offset-m3
                .leaderboard
                    h2 The Leaderboard
                    .each-h
                        .row
                            .col.s2.pos
                                h4 000
                            .col.s10.card-panel.stat-card
                                .row.long-stats
                                    .col.s3
                                        .profile-pic-cont
                                            img(src='http://placehold.it/90x90')
                                            p John Doe-nut
                                    .col.s9
                                        p i am gonna be vis analycs

                                .row.quick-stats.grey.lighten-2
                                    .col.s3
                                        span Sentiment:

                                    .col.s3
                                        span Closed Issues:

                                    .col.s3
                                        span Reactions:

                                    .col.s3
                                        span Followers:



